menu "Example Configuration"

choice AI_AGENT_MODE
    prompt "Volcano RTC/WS mode or Coze RTC mode"
    default VOLC_WS_MODE

    config VOLC_WS_MODE
        bool "enable volcano ws mode"

endchoice

config VOLC_HOST
    string "volcano host"
    default "https://iot-cn-shanghai.iot.volces.com"
    depends on VOLC_WS_MODE

config VOLC_AIGW_PATH
    string "volcano ws path"
    default "/v1/realtime"
    depends on VOLC_WS_MODE

config VOLC_INSTANCE_ID
    string "volcano instance id"
    depends on VOLC_WS_MODE

config VOLC_PRODUCT_KEY
    string "volcano product key"
    depends on VOLC_WS_MODE

config VOLC_PRODUCT_SECRET
    string "volcnao product secret"
    depends on VOLC_WS_MODE

config VOLC_DEVICE_NAME
    string "device name"
    default "volc_test"
    depends on VOLC_WS_MODE

config VOLC_BOT_ID
    string "bot id"
    depends on VOLC_WS_MODE

endmenu
